{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
	<div class="jumbotron">
		<h1 class="display-4 my-5">Discover Your Music Paradise</h1>
		<p class="lead my-2">Welcome to Your Website, the ultimate destination for music lovers!</p>
	</div>

	<div class="row mt-5">
		<div class="col-md-6">
			<h2>Who We Are</h2>
			<p>We are a passionate team of music enthusiasts dedicated to bringing you the best music experience.</p>
			<p>Our mission is to connect music lovers from all over the world, providing a platform to discover, rate, and
				review their favorite albums.</p>
		</div>
		<div class="col-md-6">
			<h2>Our Vision</h2>
			<p>At Your Website, we envision a world where music transcends boundaries, unites people, and enriches lives.</p>
			<p>We strive to create a vibrant community where music aficionados can share their passion, discover new artists,
				and express their creativity.</p>
		</div>
	</div>
</div>

{% endblock %}