<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Bootstrap demo</title>
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
		crossorigin="anonymous"
	/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">


</head>
<body>
<header>
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">
				<img
					src="https://logo.com/image-cdn/images/kts928pd/production/5e23888c69343da9524af74889b9ca7b0aa2ab19-788x788.webp?w=256&q=72"
					alt=""
					style="width: 40px; height: auto; border-radius: 100%"
				>
			</a>
			<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-tabs">
					<li class="nav-item">
						<a class="nav-link  {% if request.path == '/about/' %}active{% endif %}" href="/about/">About Us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if request.path == '/contact/' %}active{% endif %}" href="/contact/">Contact Us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if request.path == '/chart/' %}active{% endif %}" href="/chart/">Chart</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if request.path == '/new-music/' %}active{% endif %}" href="/new-music/">Latest Music</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if request.path == '/news/' %}active{% endif %}" href="/news/">News</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<main>
	{% block content %}

	{% endblock %}
</main>

<footer class="bg-dark text-white text-center py-4 mt-4">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mx-auto">
				<h2 class="mb-3">Rate Your Music</h2>
				<p>&copy 2000-2024 Sonemic, Inc.</p>
			</div>
			<div class="col-lg-6 mx-auto">
				<p class="mb-0">Connect with us:</p>
				<div class="social-links mt-2 text-secondary fs-3">
					<a href="#" class="text-white me-3"><i class="bi bi-facebook"></i></a>
					<a href="#" class="text-white me-3"><i class="bi bi-twitter"></i></a>
					<a href="#" class="text-white me-3"><i class="bi bi-instagram"></i></a>
					<a href="#" class="text-white"><i class="bi bi-linkedin"></i></a>
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-lg-12">
				<p class="text-muted mb-0">&copy; 2024 Your Website Name. All rights reserved.</p>
			</div>
		</div>
	</div>
</footer>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
	crossorigin="anonymous"
></script>
</body>
</html>
