{% extends 'base.html' %}

{% block content %}
<section class="py-5 container">
  <div class="row py-lg-5">
    <div class="col-2 mx-auto">
      <img
        src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQxMcqaYLrcu5-DfXm5SrV1kFKZIyoZqJYQ5IRDYSViQKMblclf"
        alt=""
        class="img-fluid"
        style="border-radius: 100%"
      >
    </div>
    <div class="col-9 mx-auto">
      <h1 class="fw-bold">Welcome to Rate Your Music</h1>
      <p>
        RYM is one of the largest music databases and communities online,
        which you can use in endless ways to discover new music.
        Learn about some of the ways you can use RYM for music discovery.
      </p>
    </div>
  </div>
</section>

<div class="container">
  <h3 class="pb-2">Featured Reviews</h3>
  <div class="col-10">
    {% for album in albums %}
    <div class="row">
      <div class="card mb-4 shadow border-0">
        <img
          src="{{ album.album_art.url }}"
          class="card-img-top rounded"
          alt="Album Art"
          style="width: 300px; height: 300px;"
        >
        <div class="card-body">
          <h5 class="card-title">{{ album.album_name }}  -  <small class="text-muted">{{ album.release_date }}</small></h5>
          <span class="p-1" style="border: 1px solid black; border-radius: 10%">{{ album.reviewer }}</span>
          <p class="card-text text-muted mt-3">{{ album.latest_review }}</p>
          <div class=" text-end">
            <p class="text-muted">Rating: {{ album.reviewer_rating }}</p>
            <p class="text-muted">Published on: {{ album.review_published_date }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
